@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Rubik&display=swap");

.App {
  font-family: "Rubik", sans-serif;
  color: #001b50;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2vh 2vw 0vh;
}

.heading {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 6vh;
}

.subheading {
  font-size: 2vh;
  padding-bottom: 4vh;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  padding-top: 2vh;
  padding-bottom: 1vh;
  font-size: 2vh;
}

.toolbar-button {
  border: none;
  outline: none;
  background: none;
  padding: 2vh;
  cursor: pointer;
}

.modal {
  background-color: rgba(107, 107, 107, 0.4);
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  padding-top: 140px;
}

.modal-content {
  font-family: "Rubik", sans-serif;
  color: #001b50;
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border-color: 20px solid #00a82f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-title {
  font-family: "Inconsolata", monospace;
  padding: 1vh 2vh 2vh;
  font-size: 3.5vh;
}

.modal-body {
  padding: 1vh 2vh 1vh;
  max-width: 50%;
}

/* Close button */
.close {
  color: #aaaaaa;
  font-size: 25px;
  font-weight: bold;
  padding: 1.5vh 2vh 0vh;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
